.root {
    display: flex;
  }
  
  .drawer {
    width: 240px;
    flex-shrink: 0;
  }
  
  .userInfo {
    padding: 16px;
  }
  
  .content {
    flex-grow: 1;
    background-color: #f0f2f5; /* Example background color */
    padding: 16px;
  }